nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") AV-Engine
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 簡介 ABOUT
      li
        a(href="#section_about") 服務 SERVICE
      li 
        a(href="#section_video") 影片 VIDEO
      li
        a(href="https://www.youtube.com/channel/UCrwOXjSaufhSXfNIpEzMDYw?view_as=subscriber") YOUTUBE
      li
        a(href="https://www.youtube.com/channel/UCrwOXjSaufhSXfNIpEzMDYw?view_as=subscriber") FACEBOOK
        
header.jumbotron
  .container
    h1 影擎科技股份有限公司
    hr
    h3 AV-Engine Technology Co., Ltd
    
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h1 關於影擎
        h4 我們是一群專業的攝影直播團隊，搭配高階的設備記錄高畫質的活動畫面，同時還有專業的剪輯人員剪輯活動的精采片段，做過許多大型的活動，例如:華碩 GOGORO SAMSUNG , 經驗充沛搭配過多間廠商。
        
        h1 聯繫方式
        h4 地址:台北市內湖區洲子街196號8樓
        h4 電話:02-26579150
        h4 Gmail:markham@av-engine.com
section#section_about
  .container
    .row
      .col-sm-6
        
        h3 服務項目
        img(src='https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.0-9/78190826_156588575690123_6974049556010893312_n.jpg?_nc_cat=107&_nc_ohc=vTGnsntA0LsAQmlyAD4O67JRghuWWZFCR5sG35UaB7TFAMYlyEBUmMfkw&_nc_ht=scontent.ftpe7-4.fna&oh=e6b8b34f3a19a231c9b210e2047e1503&oe=5EB42CD6')
        h4 &nbsp;&nbsp;&nbsp;活動直播/活動攝影/影片剪輯/字卡圖片後製/器材租賃
      .col-sm-6
        
        h3 服務對象
        img(src='https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.0-9/80675496_167487034600277_6480649043100827648_n.jpg?_nc_cat=105&_nc_ohc=XqjQtDeXE30AQmK2xq_N1BqL7udgeRP9NFWA7-83dWdGuDFdQlncYuYDw&_nc_ht=scontent.ftpe7-4.fna&oh=7f81dc0cf2c9c9f0d43bc708db1d9e24&oe=5EABD82C')
        h4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;各大廠商/學校活動/節目直播/商品發表會等等
      
section#section_video
  .container
    .row
      .col-sm-12
        h1 活動影片 VIDEO
        hr
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/Dr-kHvbexrU', allowfullscreen='')
